body {
  background: url("images/empty-race-track-with-sunset-sky-background.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

#main_header {
  background-color: purple;
  width: 50%;
  margin: auto;
  text-align: center;
}

#main_description {
  width: 30%;
  margin: auto;
}

#assignments,
#project {
  background-color: rgb(50, 2, 2);
  padding: 5px;
  margin: 5px;
}

#main_assignment_title,
#project-title {
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.one {
  flex: 1;
  padding: 5px;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 599px) {
  .columns {
    display: block;
  }
}
