body{
    background: url("images/empty-race-track-with-sunset-sky-background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

#main_header{
    background-color: purple;
    width: 50%;
    margin: auto;
    text-align: center;
}

#assignments{
    background-color: rgb(50, 2, 2);
    padding: 5px;
    margin: 5px;
}

#main_assignment_title{
text-align: center;
}

#HW section{
    padding: 5x;
    margin: auto;
}

img{
    max-width: 100%;
}

#main_description{
width: 30%;
}

#main_nav ul {
    padding-left: 0;
}

#main_nav li {
    list-style: none;
    border-bottom: 1px solid red;
}

#main_nav a{
    text-decoration: none;
    padding: 5px;
    background: red;
    color: black;
    display: block;
}

@media only screen and (min-width:600px) {
    .columns {
        display: flex;
    }

    .one{
        flex: 1;
    }

    .two{
        flex: 2;
    }
    
    .HW {
        flex: 4;
    }
}

@media only screen and (max-width:599px) {
    .columns {
        display: block;
    }
}