<!DOCTYPE html>
<!--Connor Ilgenfritz_CSCE 242-->
<html lang="eng">

<head>
    <link rel="stylesheet" href="styles.css">
    <title>CSCE 242</title>
</head>

<body>
    <div id="content">
        <div id="header">
            <header>
                <h1>Layout With Flex</h1>
            </header>
            <div id="main-nav">
                <ul class="columns">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pictures</a></li>
                    <li><a href="#">Contact Us</a></li>
                    </nav>
            </div>
        </div>
        <main id="main-content">
            <div class="test-Titles">
                <section class="titles">
                    <h3>Title 1</h3>
                    <img src="https://place-hold.it/200">
                    <p>cursus elementum eu id velit. Mauris imperdiet, dui et lobortis consequat, massa diam facilisis
                        ex,
                        vel convallis libero eros et nisl. Morbi a consectetur mi.</p>
                </section>
                <section class="titles">
                    <h3>Title 2</h3>
                    <img src="https://place-hold.it/200">
                    <p>Nullam quis arcu auctor, aliquet massa et, lacinia risus. Aenean malesuada nibh ac magna bibendum
                        posuere. Nunc libero ligula, interdum tempus nisl non, vehicula imperdiet arcu. Quisque ultrices
                        elit quis ante maximus, id vulputate augue ornare.</p>
                </section>
                <section class="titles">
                    <h3>Title 3</h3>
                    <img src="https://place-hold.it/200">
                    <p>Cras ultricies nibh tellus, a tincidunt purus tempus vitae. Nullam vel laoreet purus. Sed
                        iaculis,
                        nibh quis faucibus ultrices, libero metus pretium magna, sed porta odio risus eget diam. Etiam
                        elementum magna ex, nec consequat eros rhoncus eget. Aliquam ut nibh metus. Nunc feugiat metus
                        tellus, ac tincidunt ex eleifend viverra.</p>
                </section>
                <aside>
                    <h4>Links</h4>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                        </nav>
                </aside>
            </div>
            <h2>Big Ideas!</h2>
            <div class="test-idea-Titles">
                <section class="idea-Titles">
                    <h3>Idea 1</h3>
                    <img src="https://place-hold.it/100">
                    <p>Cras ultricies nibh tellus, a tincidunt purus tempus vitae. Nullam vel laoreet purus. Sed
                        iaculis,
                        nibh quis faucibus ultrices, libero metus pretium magna, sed porta odio risus eget diam. Etiam
                        elementum magna ex, nec consequat eros rhoncus eget. Aliquam ut nibh metus. Nunc feugiat metus
                        tellus, ac tincidunt ex eleifend viverra. Pellentesque ac nisl ut eros dapibus suscipit nec a
                        orci.
                        Praesent aliquam enim sed lorem gravida, ut dictum lectus ultrices.</p>
                </section>
                <section class="idea-Titles">
                    <h3>Idea 2</h3>
                    <img src="https://place-hold.it/100">
                    <p>Cras ultricies nibh tellus, a tincidunt purus tempus vitae. Nullam vel laoreet purus. Sed
                        iaculis,
                        nibh quis faucibus ultrices, libero metus pretium magna, sed porta odio risus eget diam. Etiam
                        elementum magna ex, nec consequat eros rhoncus eget. Aliquam ut nibh metus. Nunc feugiat metus
                        tellus, ac tincidunt ex eleifend viverra. Pellentesque ac nisl ut eros dapibus suscipit nec a
                        orci.
                        Praesent aliquam enim sed lorem gravida, ut dictum lectus ultrices.</p>
                </section>
                <section class="idea-Titles">
                    <h3>Idea 3</h3>
                    <img src="https://place-hold.it/100">
                    <p>Cras ultricies nibh tellus, a tincidunt purus tempus vitae. Nullam vel laoreet purus. Sed
                        iaculis,
                        nibh quis faucibus ultrices, libero metus pretium magna, sed porta odio risus eget diam. Etiam
                        elementum magna ex, nec consequat eros rhoncus eget. Aliquam ut nibh metus. Nunc feugiat metus
                        tellus, ac tincidunt ex eleifend viverra. Pellentesque ac nisl ut eros dapibus suscipit nec a
                        orci.
                        Praesent aliquam enim sed lorem gravida, ut dictum lectus ultrices.</p>
                </section>
            </div>
        </main>
        <div id="main-footer">
            <footer>
                <p>&copy; Connor Ilgenfritz</p>
            </footer>
        </div>
    </div>
</body>

</html>